:root {
	--accent: #2337ff;
	--accent-dark: #000d8a;
	--black: 15, 18, 25;
	--gray: 96, 115, 159;
	--gray-light: 229, 233, 240;
	--gray-dark: 34, 41, 57;

	--font-size-h1: clamp(24px, 2.1572vw + 15.9106px, 38px);
	--font-size-h2: clamp(22px, 1.8490vw + 15.0663px, 34px);
	--font-size-h3: clamp(20px, 1.5408vw + 14.2219px, 30px);
	--font-size-h4: clamp(18px, 1.2327vw + 13.3775px, 26px);
	--font-size-h5: clamp(16px, 0.9245vw + 12.5331px, 22px);
	--font-size-h6: clamp(16px, 0.6163vw + 13.6888px, 20px);
	--font-size-p: clamp(14px, 0.5089vw + 12.0916px, 16px);

	--spacing-xs: 8px;
	--spacing-sm: 12px;
	--spacing-md: 16px;
	--spacing-lg: 24px;

	--container-width-xs: 540px;
	--container-width-sm: 720px;
	--container-width-md: 960px;
	--container-width-lg: 1140px;
}
