@import "_reset.css";
@import "_root.css";
@import "_custom-media.css";

html,
body {
	min-height: 100svh;
}

.c {
	width: min(100%, var(--container-width-md));
	margin-inline: auto;
	padding-inline: var(--spacing-sm);

	&.c--lg {
		max-width: var(--container-width-lg);
	}
}

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background: #fdfdff;
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: rgb(var(--gray-dark));
	font-size: 1rem;
	line-height: 1.5;
	display: flex;
	flex-direction: column;
}
.main {
	flex: 1;
	padding: var(--spacing-lg) 0;
}
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	margin-block-end: .4rem;
	color: rgb(var(--black));
	line-height: 1.1;
}
.h1,
h1 {
	font-size: var(--font-size-h1);
}
.h2,
h2 {
	font-size: var(--font-size-h2);
}
.h3,
h3 {
	font-size: var(--font-size-h3);
}
.h4,
h4 {
	font-size: var(--font-size-h4);
}
.h5,
h5 {
	font-size: var(--font-size-h5);
}
.h6,
h6 {
	font-size: var(--font-size-h6);
}
p, li {
	font-size: var(--font-size-p);
}
ul, p {
	&:not(:last-child) {
		margin-block-end: var(--spacing-xs);
	}
}
ul {
	padding-inline-start: var(--spacing-sm);
}
li {
	&:not(:last-of-type) {
		margin-block-end: var(--spacing-2xs);
	}
}
li::marker {
  content: '• ';
}
strong,
b {
	font-weight: 700;
}
a {
	color: var(--accent);
}
a:hover {
	color: var(--accent);
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
}
code {
	padding: 2px 5px;
	background-color: rgb(var(--gray-light));
	border-radius: 2px;
}
pre {
	padding: 1.5em;
	border-radius: 8px;
}
pre > code {
	all: unset;
}
blockquote {
	border-left: 4px solid var(--accent);
	padding: 0 0 0 20px;
	margin: 0px;
	font-size: 1.333em;
}
hr {
	border: none;
	border-top: 1px solid rgb(var(--gray-light));
}
@media (--tablet-device) {
	body {
		font-size: 18px;
	}
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	white-space: nowrap;
}

.featured {
	display: grid;
	gap: var(--spacing-lg) var(--spacing-lg);
	margin-top: calc(var(--spacing-lg) * 2);
	.featured__item {
		background-color: rgb(var(--gray-light));
		padding: var(--spacing-sm);
	}
	
	.featured-title {
		font-size: var(--font-size-h2);
		margin-bottom: var(--spacing-lg);
		padding-bottom: var(--spacing-sm);
		border-bottom: 1px solid rgb(var(--gray));
	}

	@media (--tablet-device) {
		grid-template-columns: 1fr 1fr;
	}
}