---
import Layout from '../layouts/TrickPost.astro';
---

<Layout
	title="About us"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
>
	<p>TODO: crear otro Layout para DefaultLayout.</p>
	<p>TODO: redactar texto en el que se explique para que es esta web.</p>
</Layout>
