---
import HeaderLink from './HeaderLink.astro';
---

<header class="header">
	<nav>
		<HeaderLink href="/trick">Trick</HeaderLink>
		<HeaderLink href="/slide">Slide</HeaderLink>
	</nav>
</header>
<style>
	.header {
		position: fixed;
		top: 8px;
		right: 8px;
		z-index: 1;
	}
</style>
