---
import type { CollectionEntry } from 'astro:content';
import SlideHead from '../components/SlideHead.astro';
import HeaderSlides from '../components/HeaderSlides.astro';

type Props = CollectionEntry<'slide'>['data'];

const { title, description } = Astro.props;
---

<html lang="es">
	<head>
		<SlideHead title={title} description={description} />
		<style is:inline>
			.reveal img {
				max-height: 100vh;
			}
			.reveal {
				--r-block-margin: 0;
			}

			figure {
				display: flex;
				flex-flow: column;
				align-items: center;
			}

			figcaption {
				background-color: #222;
				color: #fff;
				font: italic smaller sans-serif;
				padding: 3px;
				text-align: center;
				max-width: 100%;
				font-size: 16px;
				transform: translateY(-100%);
				opacity: 0;
				visibility: hidden;
			}
			figure img:hover + figcaption,
			figure img + figcaption:hover {
				visibility: visible;
				opacity: 1;
				transform: translateY(-100%);
			}

			.input-icon-codepen {
				width: 160px;
				margin-top: 2rem;
				border: 1px solid #fff;
				padding: 0.7rem 1rem;
			}

			td {
				font-size: 20px;
			}
			.white-space-nowrap {
				white-space: nowrap;
			}
			.reveal pre {
				background-color: #151515;
			}
		</style>
	</head>
	
	<body>
		<HeaderSlides />
		<slot />
    <script is:inline type="module">
			import "/plugins/reveal/reveal.js";
			import "/plugins/reveal/plugin/zoom/zoom.js";
			import "/plugins/reveal/plugin/highlight/highlight.js";
			import "/plugins/reveal/plugin/notes/notes.js";

			Reveal.initialize({
				controls: true,
				progress: true,
				center: true,
				hash: true,
				history: true,
				width: 1100,
				height: 800,
				margin: 0.01,
				minScale: 0.2,
				maxScale: 1.5,
				slideNumber: true,
				plugins: [ RevealHighlight, RevealNotes, RevealZoom ]
			});
    </script>
	</body>
</html>
