---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import HeaderSlides from '../components/HeaderSlides.astro';

type Props = CollectionEntry<'slide'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="es">
	<head>
		<BaseHead title={title} description={description} />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/css/reveal.min.css" integrity="sha512-V5fKCVKOFy36w8zJmLzPH5R6zU6KvuHOvxfMRczx2ZeqTjKRGSBO9yiZjCKEJS3n6EmENwrH/xvSwXqxje+VVA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/css/theme/moon.min.css" integrity="sha512-fIE1bAi7Yajoby7f9usOLSzdxew+pROc3K15ReE9q/9bFgJKi9xfNIfLLV0yRYdivOk8l6gKTIpOBx19F442Xg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<style is:inline>
			.reveal img {
				max-height: 100vh;
			}
			.reveal {
				--r-block-margin: 0;
			}

			figure {
				display: flex;
				flex-flow: column;
				align-items: center;
			}

			figcaption {
				background-color: #222;
				color: #fff;
				font: italic smaller sans-serif;
				padding: 3px;
				text-align: center;
				max-width: 100%;
				font-size: 16px;
				transform: translateY(-100%);
				opacity: 0;
				visibility: hidden;
			}
			figure img:hover + figcaption,
			figure img + figcaption:hover {
				visibility: visible;
				opacity: 1;
				transform: translateY(-100%);
			}

			.input-icon-codepen {
				width: 160px;
				margin-top: 2rem;
				border: 1px solid #fff;
				padding: 0.7rem 1rem;
			}

			td {
				font-size: 20px;
			}
			.white-space-nowrap {
				white-space: nowrap;
			}
		</style>
	</head>
	
	<body>
		<HeaderSlides />
		<slot />
		<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/js/reveal.min.js" integrity="sha512-QYXU3Cojl94ZRiZRjUZpyg1odj9mKTON9MsTMzGNx/L3JqvMA3BQNraZwsZ83UeisO+QMVfFa83SyuYYJzR9hw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/plugin/zoom-js/zoom.min.js" integrity="sha512-ZI/dRLasiv+iRhV7jiuIOH7ZPizIzEOWA4hU9e9T2M9XeVK52i5Nn9E+gs6PZAtuvLE1VcdTXG0hbEFGnzKfNg==" crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>
		<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/plugin/highlight/highlight.min.js" integrity="sha512-Ww3X8n7Y0V9xFWft1PYfLEESkLKZYjWHmaZgo6HZu4R0mX5D+sNK5YoLSgE10aS2SDXnppWRXndYiN7n/LxV3A==" crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>
		<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/plugin/notes/notes.min.js" integrity="sha512-7DEMfv8iM8rlGUiVduuJQGcTazyiw+7PSxEMGuPzk+sW8KLZiSh5TrkCNTbjpNVL1o7grRlXTN+OQLEFuYGVxg==" crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>
    <script>
			Reveal.initialize({
				controls: true,
				progress: true,
				center: true,
				hash: true,
				history: true,
				width: 1100,
				height: 800,
				margin: 0.01,
				minScale: 0.2,
				maxScale: 1.5,
				slideNumber: true,
				//	plugins: [ RevealHighlight, RevealNotes ]
			});
    </script>
	</body>
</html>
